@font-face {
    font-family: 'SmokumRegular';
    src: url('font/Smokum-Regular/Smokum-Regular-webfont.eot');
    src: url('font/Smokum-Regular/Smokum-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Smokum-Regular/Smokum-Regular-webfont.woff') format('woff'),
         url('font/Smokum-Regular/Smokum-Regular-webfont.ttf') format('truetype'),
         url('font/Smokum-Regular/Smokum-Regular-webfont.svg#SmokumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KelmscottRomanRegular';
    src: url('KELMSCOT-webfont.eot');
    src: url('KELMSCOT-webfont.eot?#iefix') format('embedded-opentype'),
         url('KELMSCOT-webfont.woff') format('woff'),
         url('KELMSCOT-webfont.ttf') format('truetype'),
         url('KELMSCOT-webfont.svg#KelmscottRomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	/*background: #f8eedf url("images/texture5.png");*/
	background: #f8eedf url("images/texture.jpg");
	font-weight: 400;
	font-size: larger;
}

#wrapper {
	background: #f1dfc5;
	margin-top: 5em;
    margin-left: auto;
	margin-right: auto;
	border: #9c7740 5px solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
   /*box-shadow: -5px 5px 10px #888888, 5px -5px 10px #888888, -5px -5px 10px #888888, 5px 5px 10px #888888;*/
    width: 40em;
    margin-bottom: 5em;

    
}

header {
		font-family: 'SmokumRegular';
		/*background: url("images/header2.jpg");*/
			-webkit-border-top-right-radius: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-topright: 20px;
-moz-border-radius-topleft: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}

#mytitle {
	text-align: center;
}

/*header h1 {

	text-align: center;
}*/

#pageNav {
	width: 26em;
	margin-left: auto;
	margin-right: auto;
}

header span {
	position: absolute;
	height: 12em;
	width: 8em;
	background: url("images/pole.png") top	left no-repeat;
	background-position: 4em 1em;
	z-index: 3;
	
}

header .mytop {
	position: absolute;
	height: 13em;
	width: 8em;
	background: url("images/pole5.gif") top	left no-repeat;
	background-position: 4em -2em;
	z-index: 3;
	
}


#main_slideshow {
	width: 20em;
	height: 15em;
	margin-left: auto;
	margin-right: auto;
}

#main_slideshow img {
	    width: 20em;
	    height: 13.274em;
		border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	behavior: url("ie-css3.htc");
}

.servicesimg {
	width: 23em;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}


.servicesimg img {
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	
	behavior: url("ie-css3.htc");
}

#myGallery {
	height: 35em;
	width: 35em;
	margin-left: auto;
	margin-right: auto;
}

#gallery {
position:relative;
width: 25em;
height: auto;	
left: 10em;
top: -19em;
}


#thumbs {
position: relative;
top: 4em;
left: 1em;
}

#thumbs ul {
	list-style-type: none;
}

article p {
	font-family: 'KelmscottRomanRegular';
	width: 28em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: smaller;
	margin-top: 5em;
}
.services {
	font-family: 'KelmscottRomanRegular';
	width: 28em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: smaller;
	margin-top: 3em;
	font-weight: 800;
}

.story {
	font-family: 'KelmscottRomanRegular';
	width: 28em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: smaller;
	margin-top: 5em;
}

.ContactInfo {
	font-family: 'KelmscottRomanRegular';
	width: 28em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: smaller;
	margin-top: 3em;
	font-weight: 800;
}

.hidden {
	visibility: hidden;
}

footer {
	background: #b4a39c;
	-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}

footer p {
	text-align: center;

	margin-top: 5em;
	margin-bottom:0em;
	font-size: small;
}



